.App {
  text-align: center;
}
body {
  background-color: deepskyblue;
}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.mainDiv {
  margin-left: 5rem;
  margin-right: 5rem;
}